
.DS_Store
Thumbs.db

xcuserdata

bin
tmp
.vs

/projects/xcode/ixtli-render-demos/ixtli-render-demos.xcodeproj/project.xcworkspace
*.user
/projects/visual-studio/ixtli-render-lib/x64
/projects/visual-studio/x64

